@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic-ext');
.row
{
	margin:0;
	float:none;
}
html
{
	height:100%;
	font-kerning:none;
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
-o-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
	text-size-adjust:100%;
}
body
{
	width:100%;
	height:100%;
	margin:0;
	position:relative;
	padding:0;
	font-family: 'Roboto', sans-serif;
	background:#ffffff;
	font-weight:400;
	font-size:24px;
	line-height:27px;
	color:#000000;
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
-o-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
	text-size-adjust:100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
	display:block;
	margin:0;
	padding:0;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
	float:none;
}
p
{
	display:block;
	margin:0;
	padding:0;
}
button, input
{
	display:block;
	font-family: 'Roboto', sans-serif;
	font-size:14px; line-height:17px;
}
img, input, textarea, button
{
	border:none;
	outline:none;
	font-family: 'Roboto', sans-serif;
	color:#000003;
}
a
{
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
.decor_none{text-decoration:none !important;}
table, tbody
{
	border-spacing:0;
	border-collapse:collapse;
	margin:0;
	padding:0;
}
th
{
	text-align:center;
}
td
{
	vertical-align:top;
	word-wrap:break-word;
}
ul, ol, nav
{
	margin:0;
	padding:0;
	list-style:none;
}

button
{
	display:block;
	cursor:pointer;
}
.button:hover
{
	transition:.3s opacity;
	opacity:0.7;
	text-decoration:none;
}
.clear
{
	clear:both;
	height:1px;
}
.inner
{
	margin:0 auto;
 width:96%;
 max-width:1170px;
}

.fleft
{
	float:left;
}
.fright
{
	float:right;
}
.db
{
	display:block;
}
.inb
{
	display:inline-block;
}
.in
{
	display:inline;
}
.hide
{
	display:none;
}
.w20
{
	width:20%;
}
.w25
{
	width:25%;
}
.w33
{
	width:33.333333333333333%;
}
.w40
{
	width:40%;
}
.w49
{
	width:49%;
}
.w48
{
	width:48%;
}
.w50
{
	width:50%;
}
.w100
{
	width:100%}
.h100
{
	height:100%;
}
.h0
{
	height:0;
}
.tb
{
	display:table;
}
.tbc
{
	display:table-cell;
	border-spacing:0;
	border-collapse:collapse;
	margin:0;
	padding:0;
}
.vM
{
	vertical-align:middle;
}
.vT
{
	vertical-align:top;
}
.rL
{
	position:relative;
}
.hid
{
	overflow:hidden;
}
.fixed
{
	position:fixed;
}
.abs
{
	position:absolute;
}
.t0
{
	top:0;
}
.l0
{
	left:0;
}
.r0
{
	right:0;
}
.b0
{
	bottom:0;
}
.m0I
{
	margin:0 !important;
}
.m0a
{
	margin:0 auto;
}
.mb10
{
	margin-bottom:10px;
}
.mb15
{
	margin-bottom:15px;
}
.mb20
{
	margin-bottom:20px;
}
.mb25
{
	margin-bottom:25px;
}
.mb30
{
	margin-bottom:30px;
}
.mb33
{
	margin-bottom:33px;
}
.mb35
{
	margin-bottom:35px;
}
.mb40
{
	margin-bottom:40px;
}
.mb45
{
	margin-bottom:45px;
}
.mb50
{
	margin-bottom:50px
}
.mb55
{
	margin-bottom:55px;
}
.mb60
{
	margin-bottom:60px;
}
.mb70
{
	margin-bottom:70px;
}
.mb75
{
	margin-bottom:75px;
}
.mb80
{
	margin-bottom:80px;
}
.p0
{
	padding:0;
}
.p0I
{
	padding:0 !important;
}
.pdl35
{
	padding-left:35px;
}
.alCenter
{
	text-align:center;
}
.alRight
{
	text-align:right;
}
.alLeft
{
	text-align:left;
}
.cp
{
	cursor:pointer;
}
.box
{
	box-sizing:border-box;
}
.zx200
{
	z-index:200;
}
.zx200I
{
	z-index:200 !important;
}
.zx1
{
	z-index:1;
}
.zx2
{
	z-index:2;
}
.b0I
{
	border:0 !important;
}
.pdt25
{
	padding-top:25px;
}
.cover
{
	background-size:cover !important;
	background-repeat:no-repeat !important;
	background-position:center center !important;
}
.scale_hover .scale
{
	transition:.5s;
}
.scale_hover:hover .scale
{
	-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
	transform:scale(1.1);
}
.ell
{
 text-overflow:ellipsis;
 white-space:nowrap;
 overflow:hidden;
}
.nowrap
{
	white-space:nowrap;
}
.upp
{
	text-transform:uppercase;
}
.contain
{
	background-size:contain !important;
	background-repeat:no-repeat !important;
	background-position:center center !important;
}
.medium{font-weight:500;}
.bold{font-weight:700;}
.black{font-weight:900;}
header, nav, section, article, aside, footer, main
{
	display:block;
}
.no_on_desk{display:none;}
#wrapper
{
	width:100%;
 height:auto;
 margin:0 auto;
 position:relative;
 min-height:100%;
 background:#fff;
 overflow:hidden;
}
.on_mobile, .on_tablet_and_mobile
{
	display:none;
}
.inputbox::-webkit-input-placeholder
{
	opacity:1;
	transition:opacity 0.3s ease;
	color:#807e7e;
}
.inputbox::-moz-placeholder
{
	opacity:1;
	transition:opacity 0.3s ease;
	color:#807e7e;
}
.inputbox:-moz-placeholder
{
	opacity:1;
	transition:opacity 0.3s ease;
	color:#807e7e;
}
.inputbox:-ms-input-placeholder
{
	opacity:1;
	transition:opacity 0.3s ease;
	color:#807e7e;
}
.inputbox:-0-input-placeholder
{
	opacity:1;
	transition:opacity 0.3s ease;
	color:#807e7e;
}
.inputbox:input-placeholder
{
	opacity:1;
	transition:opacity 0.3s ease;
	color:#807e7e;
}
.inputbox:focus::-webkit-input-placeholder
{
	opacity:0;
	transition:opacity 0.3s ease;
}
.inputbox:focus::-moz-placeholder
{
	opacity:0;
	transition:opacity 0.3s ease;
}
.inputbox:focus:-moz-placeholder
{
	opacity:0;
	transition:opacity 0.3s ease;
}
.inputbox:focus:-ms-input-placeholder
{
	opacity:0;
	transition:opacity 0.3s ease;
}
textarea
{
	font-style:normal !important;
}
textarea::-webkit-input-placeholder
{
	opacity:1;
	transition:opacity 0.3s ease;
}
textarea::-moz-placeholder
{
	opacity:1;
	transition:opacity 0.3s ease;
}
textarea:-moz-placeholder
{
	opacity:1;
	transition:opacity 0.3s ease;
}
textarea:-ms-input-placeholder
{
	opacity:1;
	transition:opacity 0.3s ease;
}
textarea:focus::-webkit-input-placeholder
{
	opacity:0;
	transition:opacity 0.3s ease;
}
textarea:focus::-moz-placeholder
{
	opacity:0;
	transition:opacity 0.3s ease;
}
textarea:focus:-moz-placeholder
{
	opacity:0;
	transition:opacity 0.3s ease;
}
textarea:focus:-ms-input-placeholder
{
	opacity:0;
	transition:opacity 0.3s ease;
}
.hid_block
{
	display:none;
}
/* global */.g-hidden 
{
	 display: none;
 }.g-line 
{
	 zoom: 1;
 }.g-line:after 
{
	 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
 }/* modal */.b-modal 
{
	 position: relative;
}
.b-modal_close 
{
	position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 1;
	background:url(fancybox_sprite.png) no-repeat;
}
.b-modal_close:hover 
{
	 color: #000;
 }/* modal */.arcticmodal-overlay,.arcticmodal-container 
{
	 position: fixed;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
 z-index: 1000;
 }.arcticmodal-container 
{
	 overflow: auto;
 margin: 0;
 padding: 0;
 border: 0;
 border-collapse: collapse;
 }*:first-child+html .arcticmodal-container 
{
	 height: 100% }.arcticmodal-container_i 
{
	 height: 100%;
 margin: 0 auto;
 }.arcticmodal-container_i2 
{
	 padding: 24px;
 margin: 0;
 border: 0;
 vertical-align: middle;
 }.arcticmodal-error 
{
	 padding: 20px;
 -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
 background: #000;
 color: #fff;
 }.arcticmodal-loading 
{
	 width: 80px;
 height: 80px;
 border-radius: 10px;
 background: #000 url(loading.gif) no-repeat 50% 50%;
 }
 
#subheader{height:110px;}
#header{height:110px; box-sizing:border-box; padding-top:24px; position:fixed; top:0; left:0; width:100%; background:#fff; z-index:10;-webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow:    -1px 1px 5px 0px rgba(0, 0, 0, 0.1);
box-shadow:         -1px 1px 5px 0px rgba(0, 0, 0, 0.1);}
#header .logo{width:84px; padding-top:60px; background:url(../img/logo.png) no-repeat; margin-right:0;}
#header .main_menu{text-align:center; padding-top:23px;}
#header .main_menu ul{white-space:nowrap;}
#header .main_menu ul li{display:inline-block; vertical-align:top; margin-right:10px; margin-left:10px;}
#header .main_menu ul li a{display:block; font-size:12px; line-height:23px; color:#000000; text-decoration:none !important; position:relative; padding-bottom:5px; overflow:hidden;}
#header .main_menu ul li a:after{content:''; position:absolute; left:0; bottom:-3px; width:100%; background:#dd2314; transition:.3s bottom; height:2px;}
#header .main_menu ul li a:hover{color:#dd2314;}
#header .main_menu ul li a:hover:after{bottom:0;}
#header .main_menu ul li.active a{ color:#dd2314;}
#header .main_menu ul li.active a:after{bottom:0;}
#header .right_block{padding-top:19px;}
#header .right_block a{font-size:25px; line-height:31px; color:#dd2314; padding-left:35px; position:relative;}
#header .right_block .telphone{margin-bottom:3px; color:#333333;}
#header .right_block .telphone:before{content:''; position:absolute; left:0; top:4px; width:29px; height:35px; background:url(../img/phone.png) no-repeat;}
#header .right_block .telphone:hover{color:#dd2314; text-decoration:none;}

.main_banner{ background-position:center bottom !important; color:#000; position:relative; padding-bottom:145px; position:relative; background-image:url(../images/banner.jpg); background-size: cover; padding-top:154px;}
.main_banner:after{content:''; position:absolute; left:50%; bottom:0; display:none;}
.main_banner:before{content:''; position:absolute; right:50%; margin-right:950px; top:0; width:5000px; height:309px; background:#1e6ba3; display:none;}
.main_banner .block{color:#fff; position:relative; padding-bottom:0; padding-top:0; z-index:1;}
.main_banner .block > *{position:relative;}
.main_banner .block .stiker{background:url(../img/stiker.png) no-repeat; color:#333333; width:411px; height:368px; padding:160px 80px 0 30px; z-index:1; font-size:22px; line-height:25px; left:420px; font-weight:400; display:none;}
.main_banner .block .stiker b{font-size:100px; line-height:100px; color:#cd3f3e; font-weight:900; margin-bottom:-7px;}
.main_banner .block:before{
	content:'';
	position:absolute;
	left: -83px;
	top: -98px;
	height:768px; width:784px;
	background:url(../images/rub.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: bottom;
}
.main_banner .block .ah1{font-size:88px; line-height:80px; color:#FFFF00; font-family: 'Conv_Gilroy';
	font-weight: 900;}
.main_banner .block .ah2{font-size:44px; line-height:47px; margin-bottom:20px; color:#FFFF00;}
.main_banner .flex-block{
	display: flex;
	justify-content: flex-end;
}
.main_banner .right-block{
	width: 49%;
}
.main_banner .block .akcia_text{
	color: #ffffff;
	font-size: 42px;
	font-weight: 400;
	line-height: 50px;
	margin-top: 14px;
}

.main_banner .block .text_block{padding-left:0; font-weight:bold;}
.main_banner .block .text_block .ah4{font-size:50px; line-height:53px; margin-bottom:4px;}
.main_banner .block .text_block .color{font-size:35px; line-height:38px; color:#1e6ba3; padding-left:38px; margin-bottom:15px;}
.main_banner .block .text_block img{margin-left:38px; margin-top:10px;}
.main_banner .button{ z-index:2; position:relative; font-weight:500; border-radius:6px; background:#dd2314; line-height:75px; font-size:24px; width:370px; color:#fff; -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43); -moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.43); box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.43);margin-top:45px;}
.main_banner .info{font-size:28px; line-height:31px;}
.main_banner .info span{font-size:24px;}

.tarif_date{width: 332px; height: 78px; line-height: 78px; font-weight: 800; color: #231f20; background: url(../img/tariff.png) no-repeat; background-size: 100% 100%; font-size: 34px; margin-top: -70px; position: relative; transform: skewY(2deg); margin-bottom: 15px;}
.tarif_text{font-size: 20px; line-height: 23px; color: #fff; /*padding-left: 15px; padding-right: 15px;*/ text-align: left; margin-top: 20px;}

.tarif_block{margin-bottom:0; background:#fff; padding-bottom:85px;  padding-top:110px; position:relative;}
.tarif_block:before{content:''; position:absolute; left:0; bottom:121px; width:100%; height:430px; background:url(../images/tarif.jpg) no-repeat center center; background-size:cover;}
.tarif_block .ah1{margin-bottom:42px; font-size:48px; line-height:51px; color:#1b1b1b; font-weight:400;}
.tarif_block .ah2{display:none;}
.tarif_block .block{width:31.66666%;}
.tarif_block .middle{width:1%;}
.tarif_block .shadow{height:480px; box-sizing:border-box;-webkit-border-radius:0 0 4px 4px; background:#fff; -webkit-box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.26);-moz-box-shadow:    1px 1px 30px 0px rgba(0, 0, 0, 0.26);box-shadow:         1px 1px 30px 0px rgba(0, 0, 0, 0.26); padding-bottom:135px; position:relative;}
.tarif_block .shadow .ah3{ color:#f7f7f7; line-height:32px; font-size:20px; margin-bottom:29px; font-weight:500; display:table; width:100%;}
.tarif_block .shadow .ah3 > div{display:table-cell; vertical-align:middle; padding:10px 30px 10px; height:135px; box-sizing:border-box; padding-bottom: 50px;}
.tarif_block .shadow.color1 .ah3{background:#2f60dc;}
.tarif_block .shadow.color2 .ah3{background:#2f60dc;}
.tarif_block .shadow.color3 .ah3{background:#2f60dc;}
.tarif_block .shadow.color4 .ah3{background:#2f60dc;}
.tarif_block .shadow ul{margin-right:30px; margin-left:47px;}
.tarif_block .shadow ul li.no_icon{padding-left: 12px; text-transform: uppercase; color: #2f60dc; margin-bottom: 11px;}
.tarif_block .shadow ul li{padding-left:49px; font-size:18px; line-height:21px; font-weight:400; margin-bottom:0px; position:relative; color:#454545; max-width:240px;}
.tarif_block .shadow ul li + li.no_icon{
	margin-top: 26px;
}
.tarif_block .shadow ul li:not(.no_icon) + li:not(.no_icon){
	margin-top: 14px;
}
.tarif_block .shadow ul li a{color:inherit; text-decoration:underline;}
.tarif_block .shadow ul li a:hover{text-decoration:none; color:#5c6b45;}
.tarif_block .shadow ul li span{width:45px; text-align:center; position:absolute; left:0; top:2px;}
.tarif_block .shadow ul li i{font-style:normal;}
.tarif_block .shadow .button{ width: 68%;
	left: 16%;
	bottom: 35px;
	color: #fff;
	line-height: 51px;
	font-size: 18px; font-size:18px; border-radius:5px; -webkit-border-radius:5px; -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43);-moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.43);box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.43);}
.tarif_block .shadow .price{top:67px; left: 0; font-size:32px; line-height:36px; font-family: Roboto;}
.tarif_block .shadow .price b{font-weight:700; font-size:40px;}
.tarif_block .shadow.color1 .price{color:#f3ea1c;}
.tarif_block .shadow.color2 .price{color:#f3ea1c;}
.tarif_block .shadow.color3 .price{color:#f3ea1c;}
.tarif_block .shadow.color4 .price{color:#f3ea1c;}
.tarif_block .shadow.color1 .button{background:#e02612;}
.tarif_block .shadow.color2 .button{background:#e02612;}
.tarif_block .shadow.color3 .button{background:#e02612;}
.tarif_block .shadow.color4 .button{background:#e02612;}
.tarif_block .shadow .stiker{transform:scale(0.8); transform-origin:left top;}
.tarif_block .shadow .more_link{bottom:103px; left: 0; font-size: 20px; color: #4d4d4d; }
.tarif_block .shadow .more_link a{border-bottom: 1px solid #4d4d4d;}
.tarif_block .shadow .more_link a:hover{border-color: #fff; text-decoration: none;}
.tarif_block .item{display:none;}
.tarif_block .item.active{display:block;}
/* .tarif_block .dt{text-align:center; font-size:0; margin-bottom:60px; position: relative;;}
.tarif_block .dt span{font-size: 18px; line-height: 20px; color: #666; margin-left: 10px; width: 170px; text-align: left; padding-top: 2px;}
.tarif_block .dt.active span{color: #dd2314;}
.tarif_block .dt ul:after{content: ''; position: absolute; left:4px; top:5px; width: 33px; height: 33px; border-radius: 50%; background: #fff; transition: .3s left; -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.43);
-moz-box-shadow:    0px 2px 5px 0px rgba(0, 0, 0, 0.43);
box-shadow:         0px 2px 5px 0px rgba(0, 0, 0, 0.43);}
.tarif_block .dt.active ul:after{left: 32px;}
.tarif_block .dt.active ul{border-color: #a10845; background-color: #dd2314;}
.tarif_block .dt ul{width: 70px; border:1px solid #666; background: #a2a2a2; border-radius: 22px; display: inline-block; vertical-align: top; position: relative;}
.tarif_block .dt li{float: right; width:50%;}
.tarif_block .dt li a{color:#dd2314; display:block; cursor:pointer; text-decoration:underline ; height: 42px;}
.tarif_block .dt li.clear{float: none; width: auto;} */
.tarif_block .item .tb{display:flex; justify-content: space-between;}
.tarif_block .item .middle{display:none;}
.tarif_block .item .shadow{display:block; vertical-align:top; height:auto; min-height:531px; box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);}

.tarif_block .dt{text-align:center; font-size:0; margin-bottom:50px;}
.tarif_block .dt li{display:inline-block; vertical-align:top; width:270px; box-sizing:border-box; border:1px solid #cd3f3e; font-size:24px; line-height:65px;}
.tarif_block .dt li:first-child{border-radius:5px 0 0 5px;}
.tarif_block .dt li:nth-child(2){border-radius:0 5px 5px 0;}
.tarif_block .dt li a{color:#dd2314; display:block; text-decoration:none !important; cursor:pointer;}
.tarif_block .dt li a.active{background:#dd2314; color:#fff; cursor:auto;}

.free_form{background:url(../img/bg_free.jpg) no-repeat center center; background-size:cover; padding-top:160px; padding-bottom:160px; color:#fff;}
.free_form .inner{max-width:690px;}
.free_form .ah1{font-size:54px; line-height:57px; margin-bottom:15px;}
.free_form p{font-weight:300; font-size:28px; line-height:31px; margin-bottom:40px;}
.free_form form{max-width:440px;}
.free_form form .inputbox{font-size:20px; line-height:24px; padding:17px 19px; border-radius:9px; border:2px solid #ddd; background:transparent; color:#fff; margin-bottom:27px;}
.free_form form .inputbox::-webkit-input-placeholder{color:#fff;}
.free_form form .inputbox::-moz-placeholder{color:#fff;}
.free_form form .inputbox:-moz-placeholder{color:#fff;}
.free_form form .inputbox:-ms-input-placeholder{color:#fff;}
.free_form form .inputbox:-0-input-placeholder{color:#fff;}
.free_form form .inputbox:input-placeholder{color:#fff;}
.free_form form button{margin-bottom:15px; background:#5f7a45; color:#fff; border-radius:5px; width:252px; height:55px; font-size:24px; line-height:24px; font-weight:400;-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43);-moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.43);box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.43);}
.free_form form p{max-width:350px; font-size:14px; line-height:17px;}
.free_form form p a{color:#fff; text-decoration:underline;}

.advantages{padding-top:77px; padding-bottom:66px;}
.advantages .inner{max-width:940px;}
.advantages .ah1{margin-bottom:73px; font-size:48px; line-height:51px; color:#1a1a1a; font-weight:400;}
.advantages .row{margin-right:0;}
.advantages .row .block{padding-right:45px; padding-left:45px; height:280px; margin-bottom:0; font-size:20px; line-height:23px; text-align: center;}
.advantages .row .block .image_block{height:105px; width:100px; display:table-cell; vertical-align:middle; margin-left:auto; margin-right:auto; text-align:center;}
.advantages .row .block .image_block img{display:inline-block; vertical-align:middle; margin-top:0; max-height: 105px;}
.advantages .row .block .ah2{font-size:28px; line-height:31px; margin-bottom:20px; margin-top:20px; font-weight:500; text-align:center; color:#333333;}
.advantages .row .block p{margin-left: auto; margin-right: auto;}
.advantages .row .block:nth-child(2) p{max-width:330px;}
.advantages .row .block:nth-child(3) p{max-width:none;}
.advantages .row .block:nth-child(4) p{max-width:350px;}

.interactive{padding-top:100px; padding-bottom:95px; background:#f5f7fe  url(../images/dog.jpg) no-repeat center top; position:relative; overflow:hidden; color:#4d4d4d;}
.interactive .inner{padding-bottom:0;}
.interactive .ah1{margin-bottom:87px; font-size:48px; line-height:51px; color:#4d4d4d; font-weight:400;}
.interactive li{max-width:570px; font-size:18px; line-height:21px; color:#4d4d4d; margin-bottom:44px;}
.interactive li .image_block{width:105px; min-height:1px; margin-right: 35px; text-align: center;}
.interactive li .ah2{font-size:27px; line-height:30px; margin-bottom:10px; font-weight:500;}
.interactive li:first-child p{max-width:340px;}
.interactive li:nth-child(4) .ah2{padding-top:10px;}
.interactive li:nth-child(5) .image_block{padding-top:8px;}

.questions_block{padding-top: 84px; padding-bottom: 80px; background: url(../img/questions_block.jpg) no-repeat left center / cover #f7f7f7;}
.questions_block .ah1{font-size: 48px; line-height: 51px; margin-bottom: 54px; color:#4d4d4d;}
.questions_block .block{position: relative; max-width: 814px; box-sizing: border-box; margin-bottom: 19px; border-radius: 5px; border:1px solid #d9d9d9; border-left: 5px solid #2f60dc; background: #fff; padding-bottom: 23px;}
.questions_block .block .ah2{font-size: 24px; color: #1a1a1a; line-height: 27px; padding: 25px 25px 16px; border-bottom: 1px solid #e6e6e6; margin-bottom: 17px;}
.questions_block .block p{font-size: 18px; line-height: 24px; padding: 0 26px;}
.questions_block .block:nth-child(3){
	border-left-color: #193fce;
}
.questions_block .block:nth-child(2n){
	border-left-color: #3ea4e9;
}
.example_block{ padding-top:79px; background: #8916b1 linear-gradient(45deg, #2051d2 0%, #2051d2 14%, #2662d7 53%, #3ea4e9 100%); background-size:cover; background-position:center center; position:relative; padding-bottom:127px;}
.example_block .ah1{font-size:48px; line-height:58px; color:#fff; margin-bottom:72px; font-weight:400;}
.connect{
	display: flex;
	justify-content: space-between;
}
.connect .item{
	display: flex;
	flex-direction: column;
	width: 23%;
	align-items: center;
	justify-content: center;
}
.connect .item:nth-child(2n){
	flex-direction: column-reverse;
}
.connect .item .img-block{
	width: 89%;
	margin-bottom: 30px;
	text-align: center;
}
.connect .item:nth-child(2n) .img-block{
	margin-bottom: 0px;
	margin-top: 30px;
}
.connect .item-1 .img-block .img{
	background-position: 36% 42%;
	background-size: 63%;
}
.connect .item-2 .img-block .img{
	background-position: 53% 39%;
	background-size: 66%;
}
.connect .item-3 .img-block .img{
	background-position: 53% 39%;
	background-size: 62%;
}
.connect .item-4 .img-block .img{
	background-position: 48% 39%;
	background-size: 75%;
}
.connect .item .text-block{
	display: flex;
}

.connect .item .text-block .text{
	font-size: 17px;
	line-height: 28px;
	color: #ffffff;
	text-align: center;
	padding: 0 10%;
}
.connect .item .text-block .text a{
	color: #ffffff;
	text-decoration: underline;
}
.connect .item .text-block .text a:hover{
	text-decoration: none;
}


.form_block{color:#fff; padding-bottom:89px; padding-top:100px;}
.form_block .inner{border-radius:0; box-sizing:border-box; padding:70px 190px 73px; max-width:885px; background: rgba(51, 134, 225, 0.95); -webkit-box-shadow: -1px 14px 24px 0px rgba(0, 0, 0, 0.16); -moz-box-shadow:    -1px 14px 24px 0px rgba(0, 0, 0, 0.16); box-shadow:         -1px 14px 24px 0px rgba(0, 0, 0, 0.16);}
.form_block .ah1{font-size:40px; line-height:43px; font-weight:400; max-width:320px; margin-left:auto; margin-right:auto; margin-bottom:65px;}
.form_block form{display:block; max-width:504px; margin-left:auto; margin-right:auto;}
.form_block .inputbox{border:1px solid #fff; font-size:20px; line-height:27px; padding:15px 17px; letter-spacing: 0.5px; border-radius:7px; -webkit-border-radius:7px; margin-bottom:20px;}
.form_block button{background:#e54635; font-size:24px; line-height:24px; height:71px; width:100%; max-width:428px; display:block; border-radius:6px; -webkit-border-radius:6px; margin-top:45px; font-weight:400; color:#fff; -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43);-moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.43);box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.43);}
.form_block form p{max-width:350px; font-size:14px; line-height:17px; margin-top:30px; text-align:center;}
.form_block form p a{color:#fff; text-decoration:underline;}

.equipment_block{color:#4d4d4d; padding-top:20px; padding-bottom:80px; background-size:cover;}
.equipment_block .block{box-sizing:border-box; margin-left:auto; margin-right:auto;background:#fff; margin-bottom:0; padding:20px 0; border-bottom: 1px solid #e6e6e6;}
.equipment_block .block .tit span{font-size:20px;}
.equipment_block .ah1{font-size:48px; line-height:51px; color:#4d4d4d; margin-bottom:26px;}
.equipment_block .block .image_block{width: 150px; text-align: center; margin-right: 30px;}
.equipment_block .block .left_block{width:55%; padding-top: 35px; box-sizing: border-box; padding-right: 30px;}
.equipment_block .block .left_block .more_button{font-size:20px; color: #f57e25;}
.equipment_block .block .left_block .more_button:after{margin-left:8px; content:''; display:inline-block; vertical-align:middle; width:12px; height:8px; background:url(../img/arrr.png) no-repeat;}
.equipment_block .block .left_block b{color: #000; font-weight: 400;}
.equipment_block .block .left_block span{font-size: 18px; color: #666666;}
.equipment_block .block .right_block{padding-top: 35px;}
.equipment_block .block .right_block .one{width:50%;}
.equipment_block .block .right_block .two{width:50%;}
.equipment_block .block .right_block b{font-weight: 400; color: #000000; font-size: 20px; line-height: 23px;}
.equipment_block .block .hide{font-size:17px; line-height:26px; margin-top:12px; margin-bottom: 10px;color: #4d4d4d;}
.equipment_block .block .hide.active{display:block;}
.equipment_block .block.active .left_block .more_button:after{transform:rotate(180deg);}


#footer{color:#e7dcec; font-size:14px; line-height:24px; padding-top:0; padding-bottom:0;}
#footer a{color:#e7dcec; text-decoration:underline;}
#footer a:hover{text-decoration:none;}
#footer .block{background:#27263e; padding-top:62px; padding-bottom:55px;}
#footer .block p{margin-bottom:24px; max-width:1110px;}

.form0_block{background:#3386e1; box-sizing:border-box; width:400px; padding:30px; border-radius:8px; color:#fff;}
.form0_block .ah1{font-size:25px; line-height:28px; margin-bottom:20px; }
.form0_block .ah1 .ah2{display:block !important; font-weight:700;}
.form0_block form{display:block; max-width:504px; margin-left:auto; margin-right:auto;}
.form0_block .inputbox{border:1px solid #fff; font-size:20px; line-height:27px; padding:15px 17px; border-radius:7px; -webkit-border-radius:7px; margin-bottom:20px;}
.form0_block button{background:#e54635; font-size:24px; line-height:24px; height:71px; width:100%; max-width:428px; display:block; border-radius:6px; -webkit-border-radius:6px; margin-top:45px; font-weight:400; color:#fff; -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43);-moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.43);box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.43);}

.form1_block{background: #fff; border:1px solid #e02612; border-radius: 8px; width: 744px; box-sizing: border-box; padding: 25px; font-size: 16px; line-height: 19px;}
.form1_block .ah1{margin-bottom: 25px; font-size: 19px; line-height: 22px; color: #e02612;}
.form1_block .row{margin-top: 25px;}
.form1_block .row .block{display: -webkit-box;	display: -webkit-flex;	display: -ms-flexbox; display: flex;	-webkit-box-pack: justify;	-webkit-justify-content: space-between;	-ms-flex-pack: justify; justify-content: space-between; border:1px solid #ccc; padding:5px 10px; margin-top: 10px; margin-bottom: 10px;}
.form1_block .row .block .right_block{width: 100px; margin-left: 20px; flex-grow: 0; flex-shrink: 0;    -webkit-flex-shrink: 0;    -ms-flex-negative: 0;}
.form1_block .modal_call {margin-top: 25px;  text-align: center;  width: 236px;    background: #e02612;     color: #fff;    line-height: 47px;    font-size: 18px;    border-radius: 5px;    -webkit-border-radius: 5px;    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43);    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43);    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43); float: left; margin-right: 20px;}
.form1_block .price{line-height: 47px; margin-top: 25px;}
.form1_block .price b{font-size: 20px;}

.square-box{
	position: relative;
	width: 50%;
	overflow: hidden;
	background: #45a5f0;
	border-radius: 200px;
}
.square-box:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.square-content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: white;
}
.square-content div {
	display: table;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.square-content span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white
}